#!/bin/bash

FISH_PATH=$(which fish)

if [ -n "$FISH_PATH" ]; then
  # Add fish to allowed shells if missing
  if ! grep -q "$FISH_PATH" /etc/shells; then
    echo "$FISH_PATH" | sudo tee -a /etc/shells
  fi

  # Change default shell
  if [ "$SHELL" != "$FISH_PATH" ]; then
    sudo chsh -s "$FISH_PATH" "$(whoami)"
  fi
fi
