{{ if and (eq .chezmoi.os "darwin") .is_work_machine -}}
[safe]
	directory = ~/work
	directory = ~/work/countly
	directory = ~/work/countly/core
	directory = ~/work/tempcountly/countly
	directory = ~/work/tempcountly/countly/core
	directory = ~/work/countly-dockerization/countly/countly
	directory = ~/work/countly-dockerization/countly/countly/core
	directory = ~/work/countly-dockerization/countly
	directory = ~/work/countly-dockerization/countly/core
	directory = ~/work/countly_new_arch/countly
	directory = ~/work/countly_new_arch/countly/core
{{ end -}}
