# Managed by chezmoi
{{ if eq .chezmoi.os "darwin" -}}
# OrbStack SSH (must be before any Host blocks)
Include ~/.orbstack/ssh/config

{{ end -}}
Include config.d/*
{{ if eq .chezmoi.os "darwin" -}}
Include ~/.ssh/1Password/config
{{ end -}}
